@import "tailwindcss";

:root {
  --background: rgb(0, 0, 75);
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
